/* Stylesheet reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background and font styles */

body {
  font-family: "Press Start 2P";
  font-size: 24px;
  color: white;
  background: url("https://i.pinimg.com/originals/df/4e/8b/df4e8ba28f912bf9cdf9fa0dfc196411.png");
  background-size: cover;
}

.game-container {
  display: flex;
  justify-content: center;
}

#scoreboard {
  margin-top: 30px;
  text-align: center;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
  margin: 20px 0;
}
